<p id="notice"><%= notice %></p>


  <% @listings.where(city_id: 3).each do |listing| %>
        <p><%= listing.business %></p>
  <% end %>

<p>Note: add dropdown to change city here</p>
<p>Note: also add logic to not show appointments where time has passed.</p>
<p>+ order them from most recent using time</p>

<%# dropdown menu to change city of listings being displayed %>
<div class="dropdown"> 
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
  Change city</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%# <%= link_to "Melbourne", listings_path, style: "dropdown-item" %> %>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

  <%# <%= listing.category.name %>


<h1>Available appointments</h1>

  <%# styles listings into cards %>

    
    <% @listings.each do |listing| %>
    <div class="card"style="width: 18rem;">
        <%= image_tag listing.picture, class:"card-img-top" if listing.picture.attached? %></td>
        <div class="card-body">
        <h5 class="card-title"><%= listing.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"> Location: <%= listing.business %>, <%= listing.city.name %></h6>

        <p class="card-text"><%= listing.description %></p>
        Price: <%= number_to_currency(listing.price) %>
        <%= listing.booked %>
        <%= listing.date %>
        <%= (listing.time).strftime("%H:%M %p") %>
        <%= listing.user_id %>

        <%= link_to 'See More', listing, class: 'btn btn-primary' %>

        <% if current_user && current_user.id == listing.user_id %>
        <br>
        <%= link_to 'EDIT', edit_listing_path(listing), class: 'btn btn-primary' %>
        <%= link_to 'DELETE', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
        <% end %>
        </div>
      </div>
      <br><br>
    <% end %>
<br>

<%= link_to 'New Listing', new_listing_path %>
