<p id="notice"><%= notice %></p>

<%# card starts here %>
<%= link_to 'Back', listings_path, class:"btn btn-primary" %><br><br>

<div class="card mb-3">  
  <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, alt: @listing.title, class:"card-img-top", style:"height: 30em;" %>
  <% else %>
    <%= image_tag 'noimgattached.jpg', alt: @listing.title, class:"card-img-top", style:"height: 30em;" %>
  <% end %>

  <div class="card-body">
    <h5 class="card-title"><strong><%= @listing.title %></strong></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Salon Location:</strong> <%= @listing.business %>, <%= @listing.city.name %></li>
      <li class="list-group-item"><strong>Instagram:</strong> @<%= @listing.instagram %></li>
      <li class="list-group-item"><strong>Price:</strong> <%= number_to_currency(@listing.price) %></li>
      <li class="list-group-item"><strong>Time:</strong>  <%= (@listing.time).strftime("%H:%M %p") %> <%= (@listing.date).strftime("%B %d, %Y") %></li>
      <li class="list-group-item"><strong>Category:</strong> <%= @listing.category.name %></li>
    </ul><br>
    
    <p class="card-text"><strong>Description: </strong></p>
    <p><%= @listing.description %></p>

    <p class="card-text"><small class="text-muted">Listed by <%= @listing.user.firstname %> at <%= @listing.business %></small></p>

  <%# checks if booked boolean in the listings table for this listing in the database is true or false %>
  <% if !@listing.booked && current_user && current_user.id == @listing.user_id %>
      <p> Your appointment listing is available for booking. </p>
    <% elsif @listing.booked && current_user && current_user.id == @listing.user_id%>
      <p> Congratulations! This listing has been booked. You can see all of the details about your booked listings in your <%= link_to 'Dashboard', orders_sold_path %>.</p>
    <% elsif @listing.booked %>
      <p>NO LONGER AVAILABLE</p>
    <% elsif current_user %>
      <%= button_to "BOOK APPOINTMENT", place_order_path, class:"btn btn-primary" %>
    <% else %>
      <p> You need to log in to reserve appointments. </p>
  <% end %>


    <% if current_user && current_user.id == @listing.user_id %>
    <%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-primary" %> |
    <% end %>
    <%= link_to 'Back to all listings', listings_path, class:"btn btn-primary" %>

  </div>
</div>
