<p id="notice"><%= notice %></p>

<div>
<% if @listing.picture.attached? %>
  <%= image_tag @listing.picture, alt: @listing.title %>
<% else %>
  <%= image_tag 'noimgattached.jpg', alt: @listing.title %>
  <% end %>
</div>

<% if !@listing.booked && current_user && current_user.id == @listing.user_id %>

  <p> Your appointment listing is available for booking. </p>

<% elsif @listing.booked && current_user && current_user.id == @listing.user_id%>

  <p> Congratulations! This listing has been reserved by: . Their contact email is: . </p>

<% elsif @listing.booked %>
  <p>NO LONGER AVAILABLE</p>

<% elsif current_user %>
  <%= button_to "BOOK APPOINTMENT", place_order_path %>

<% else %>
  <p> Please log in to reserve appointments </p>
<% end %>

<%# <% if current_user && !@listing.booked %>
  <%# <%= button_to "BOOK APPOINTMENT", place_order_path %> %>
<%# <% else %> %>
  <%# <p> NO LONGER AVAILABLE </p> %>
<%# <% end %> %> %>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Business:</strong>
  <%= @listing.business %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @listing.instagram %>
</p>

<p>
  <strong>Booked:</strong>
  <%= @listing.booked %>
</p>

<p>
  <strong>Date:</strong>
  <%= @listing.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @listing.time %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city_id %>
</p>

<% if current_user && current_user.id == @listing.user_id %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
