<h1>Manage Your Listings: </h1>

<a class="btn btn-primary" href="/listings/new">Create New Listing</a>
<br>

<h2>Your Booked Listings:</h2>

<p>Congratulations! The following listings that you created have been booked:</p>

  <%# note to self: style listings into cards %>  <%# @booked_appointments instance variable has been defined in orders_controller bought method %>
    <% @sold_appointments.each do |appointment| %>
      <div class="card"style="width: 18rem;">
        <%= image_tag appointment.listing.picture, class:"card-img-top" if appointment.listing.picture.attached? %>
        <%= appointment.listing.title %>
        <%= appointment.listing.description %>
        <%= number_to_currency(appointment.listing.price) %>
        <%= appointment.listing.business %>
        <%= appointment.listing.instagram %>
        <%= appointment.listing.date %>
        <%= (appointment.listing.time).strftime("%H:%M %p") %>
        <%= appointment.seller.firstname %>
        <%= appointment.listing.category.name %>
        <%= appointment.listing.city.name %>

        <%= appointment.listing.category.name %>
        <%= appointment.listing.city.name %>
        BOOKED BY <%= appointment.buyer.firstname %>
        Contact details for <%= appointment.buyer.firstname %>: <%= appointment.buyer.email %>
      </div>

    <% end %>

