<%# <h1>Pages#home</h1> %>

<div class="jumbotron">
  <h1 class="display-4">The #1 place to find last minute beauty appointments in your city! 🤎 </h1>
  <p class="lead">Create, browse and book salon appointments available in all major Australian cities. Save on last minute bookings.</p>
  <hr class="my-4">
<% if !user_signed_in? %>
<p> Provide a beauty service and want to start listing appointments? Sign up <a href="/users/sign_up">here</a>. </p>
<% end %>  
<a class="btn btn-primary btn-lg" href="/listings" role="button">Browse Appointments</a>
</div>
<br>

<%# links to different cities available appointments %>
<div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/photo-1573439101361-7f22fa5f4762?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2231&q=80'); image-style: cover; background-position: center center;">
  <div class="container">
           <h1 class="display-4"><%= link_to "Sydney", sydney_path %></h1>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/photo-1594300157693-a741f98738c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1675&q=80'); image-style: cover; background-position: center center;">
  <div class="container">
    <h1 class="display-4"><%= link_to "Melbourne", melbourne_path %></h1>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/photo-1524586410818-196d249560e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2252&q=80'); image-style: cover; background-position: center center;">
  <div class="container">
           <h1 class="display-4"><%= link_to "Perth", perth_path %></h1>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/photo-1566734889071-7ba049ccc672?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80'); image-style: cover; background-position: center center;">
  <div class="container">
           <h1 class="display-4"><%= link_to "Brisbane", brisbane_path %></h1>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/flagged/photo-1570436632327-4b58d119c2f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80'); image-style: cover; background-position: center center;">
  <div class="container">
           <h1 class="display-4"><%= link_to "Gold Coast", goldcoast_path %></h1>
  </div>
</div>